/* при  окончательном оформлении
 проверить закоментированные значения */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: roboto, sans-serif;
  color: #757575;
}

/* убирает маркеры в маркированном списке */
li {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.page-title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.page-title-color {
  color: #2196f3;
}
.nav-elements-style {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-elements-style li:not(:last-child) {
  margin-right: 50px;
}

.nav-elements-style .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
}

.current-color {
  color: #2196f3;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-address-list .item + .item {
  margin-left: 50px;
}

.header-address-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-address-list {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}

.mail-svg,
.phone-svg {
  margin-right: 10px;
  fill: currentColor;
}

.team-svg {
  fill: #afb1b8;
}

.team-member-position {
  margin-bottom: 28px;
}

.team-links-list {
  display: flex;
  justify-content: center;
}

.team-link {
  width: 44px;
  height: 44px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.team-link:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-svg {
  fill: #fff;
}

.team-links-list li:not(:last-child) {
  margin-right: 10px;
}

.header-div {
  display: flex;
}

a:focus {
  color: #2196f3;
  outline-color: #2196f3;
}

.contacts-link-style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.address-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.hover-for-regular-links:hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button-item:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  порядок вставки псевоклассов по спец
a:link { color: red; }
a:visited { color: grey; }
a:hover { color: blue; }
a:active { background-color: yellow; } */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  /* max-width: 1600px; */
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-tagline {
  margin-top: 0;
  margin-bottom: 30px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  /* text-align: center; */
  /* width: 696px;
  height: 120px; */
}

.button-hero {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-family: roboto, sans-serif;
  border: 1px solid transparent;
  text-align: center;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features-list-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-list-item-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.features-icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.antenna {
  padding: 25px 102px;
}

.clock {
  padding: 25px 101px;
}

.diagram {
  padding: 33px 100px;
}

.astronaut {
  padding: 30px 115px 29px 100px;
}

.about-work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}
.about-our-team-list li h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.about-our-team-list li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-our-team-list li img {
  margin-bottom: 30px;
}

.about-our-team-list {
  display: flex;
  justify-content: space-between;
}

.about-our-team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.portfolio-link-current-color {
  color: #2196f3;
}

.portfolio-button-item {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: roboto, sans-serif;
}

.portfolio-buttons-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-buttons-list li:not(:last-child) {
  margin-right: 8px;
}

.projects-list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0 0 4px 0;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-list-item .projects-list-item-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-list-item img {
  margin-bottom: 20px;
}

.projects-list-item {
  background-color: #fff;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-list-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.clients-link:hover {
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-svg {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: #afb1b8;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-title-in-footer {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-nav {
  margin-bottom: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.portfolio {
  padding: 94px 0 94px 0;
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-work-list {
  display: flex;
  justify-content: space-between;
}

.footer-links-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  /* padding-left: 13px; */
}

.footer-svg {
  fill: #fff;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
  display: flex;
}

.footer-container-1 {
  margin-right: 70px;
}

.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-color::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  top: 44px;
  left: 0;
  border-radius: 2px;
}

.nav-studio,
.nav-portfolio {
  position: relative;
}

.about-work-description {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 20px;
  margin-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  color: #ffffff;

  position: absolute;
  bottom: 0;
}

.about-work-list-img {
  position: relative;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(0);
  transition: transform 250ms ease;
}

.project-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
}

.project-thumb:hover .overlay {
  transform: translatey(-100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
